<div class="entire">
  
    <div class="description">
      
    <div class="card card-4"><br>
    
      <div class="about">
        <p  name="companyName"><b>Applied for the post of </b> <i style="font-style:italic;margin-left: 10px;color: rgb(109, 225, 230)">{{admineligItem.jobtitle}}</i></p>

    
       <p><b> Name of the candidate: </b> <i style="font-style:italic;margin-left: 10px;color: rgb(91, 228, 233)">{{admineligItem.firstname}} {{admineligItem.lastname}}</i>
        </p>
  
  <p  name="email"><b>Email: </b> <i style="font-style:italic;margin-left: 10px;color: rgb(81, 231, 236)">{{admineligItem.email}}</i>  </p>
    <p  name="phone"><b>Phone number: </b> <i style="font-style:italic;margin-left: 10px;color: rgb(94, 212, 216)">{{admineligItem.phone}} </i>  </p>
    <p  name="gender"><b>Gender: </b>  <i style="font-style:italic;margin-left: 10px;color: rgb(92, 222, 226)"> {{admineligItem.gender}}  </i></p>
    <p  name="qlfnItem"><b>Qualification of candidate:</b>  <i style="font-style:italic;margin-left: 10px;color: rgb(122, 238, 241)">{{admineligItem.qualifications}}</i>  </p>
   
    <p  name="passout year"><b>Year of passout:</b>  <i style="font-style:italic;margin-left: 10px;color: rgb(98, 218, 223)"> {{admineligItem.passout}}</i> </p>
    <p  name="experience"><b>Years of experience:</b>   <i style="font-style:italic;margin-left: 10px;color: rgb(110, 235, 240)">{{admineligItem.experience}}</i> </p>
      <p name="Skills"><b>Skills:</b>  <i style="font-style:italic;margin-left: 10px;color: rgb(100, 214, 218)"> {{admineligItem.skillone}}{{admineligItem.skilltwo}}{{admineligItem.skillthree}}{{admineligItem.skillfour}}</i></p>
      <!-- <p name="onlinelink"><b>Online link:</b>  <i style="font-style:italic;margin-left: 10px;color: rgb(112, 224, 228)">{{admineligItem.onlinelink}}</i></p>  -->
      <button class="btn btn-light" type="button" (click)="goToUrl()">Online link</button>
      <button class="btn btn-light" type="button" (click)="downloadfile()">Resume</button>
       <!-- <p name="resume"><b>Resume:</b><i style="font-style:italic;margin-left: 10px;color: rgb(112, 224, 228)"> {{admineligItem.resumefile}}</i></p>  -->
    </div>
